<% # Event show view %>

<h2><%= @event.name %></h2>
<p>by <%= @event.creator.email %></p>
<p>Details: <%= @event.description %></p>
<p>on: <%= @event.event_date%></p>

<% if @event.creator == current_user %>
  <%= link_to 'Edit', edit_event_path(@event) %>
  <%= link_to 'Delete', @event, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<% if user_signed_in? %>
 <% if @event.attendees.include?(current_user) %>
    <% @attendance = @event.attendances.find_by(user: current_user) %>
   <%= button_to 'Exit', event_attendance_path(@event, @attendance), method: :delete, data: {confirm: 'Are you sure?'} %>
 <% else %>
   <%= button_to 'Enter', event_attendances_path(@event), method: :post, data: {confirm: 'Are you sure?'} %>
 <% end %>
 <% else %>
   <p>Please sign Up!</p>
<% end %>

<strong>👥 Fellow Attendees</strong>
<ol>
  <% @event.attendees.each do |attendee| %>
    <li><%= attendee.email %></li>
  <% end %>
</ol>
